.logo-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.logo-header h1{
    font-size: 20px;
    color: #272D38;
    font-weight: 700;
}

.logo-footer h1{
    font-size: 18px;
    text-transform: capitalize;
    color: #272D38;
    font-weight: 700;
}