.Footer{
    background-color: #F6F6F6;
}
.footer-top{
    margin-top: 105px;
    color: transparent;
    margin-bottom: 105px;
}
.footer-bottom{
    margin-top: 110px;
    color: transparent;
}
.footer-header{
    display: flex;
}
.footer-footer{
    display: flex;
    text-align:center;
    justify-content: center;
    font-weight: 300;
    font-size: 16px;
    color: #272D38;
}
.card-footer-1{
    width: 500px;
}
.text-footer-box{
    width: 189.29px;
    height: 48px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;   
    text-transform: capitalize;  
    color: #272D38;
    
}